<script type="text/x-handlebars-template">

    {{#if hideNone}}
    {{else}}
    <div class="radio">
        <p>
          <label>
              <input type="radio" {{#if options.readonly}}readonly="readonly"{{/if}} name="{{name}}" value=""/>
              <label>{{{noneLabel}}}</label>
          </label>
        </p>
    </div>
    {{/if}}

    {{#each selectOptions}}
    <div class="radio">
      <p>
          <input type="radio" {{#if ../options.readonly}}readonly="readonly"{{/if}} name="{{../name}}" value="{{value}}" id="{{../name}}_{{value}}"{{#compare value ../data}}checked="checked"{{/compare}}/>
          <label for="{{../name}}_{{value}}">{{{text}}}</label>
      </p>
    </div>
    {{/each}}

</script>
