<script type="text/x-handlebars-template">

    {{#if options.multiple}}

      <fieldset>

        {{#each checkboxOptions}}
          <p>
            <input type="checkbox" class="filled-in" {{#if name}}name="{{name}}"{{/if}} data-checkbox-index="{{@index}}" id="{{value}}" data-checkbox-value="{{value}}" value="{{value}}" {{#if ../../options.readonly}}readonly="readonly"{{/if}} {{#each ../../options.data}}data-{{@key}}="{{value}}"{{/each}}/>
            <label for="{{value}}">{{{text}}}</label>
          </p>
        {{/each}}

      </fieldset>

    {{else}}

        <div>

            <label>

                <input type="checkbox" {{#if options.readonly}}readonly="readonly"{{/if}} {{#if name}}name="{{name}}"{{/if}} {{#each options.data}}data-{{@key}}="{{value}}"{{/each}}/>

                {{{options.rightLabel}}}
            </label>

        </div>

    {{/if}}

</script>
